#bg_color
{
    height: 300px;
    width: 500px;
background-color: aqua;
border: 2px solid black;}

#bg_image{
margin-top: 50px;
border: 2px solid black;
height: 300px;
width: 500px;
background-image: url(pngimg.com\ -\ pokemon_logo_PNG12.png);
/* background-repeat: no-repeat; */
/* background-repeat: repeat-x; */
/* background-repeat: repeat-y; */
background-size: 100% 100%;
}
#bd_radial{margin-top: 50px;
    border: 2px solid black;
    height: 300px;
    width: 500px;
    background-image: radial-gradient
    (yellow red black)
}
#bd_linear{margin-top: 50px;
    border: 2px solid black;
    height: 300px;
    width: 500px;
    background-image: linear-gradient(yellow red black);

}    