/* child selector */
div>h1{
    color: red;
}
/* descendent selector */
div h1{
    font-family: cursive;
    text-decoration: underline;}

div+h1 
{color: blue;}

div~h1
{background-color:yellowgreen;}