body{ background-color: aqua;}
#box1 , #box2
{
    height: 200px;
    width: 200px;
     border: 2px solid black;}
     #box1{
        /* margin-bottom: 50px ;
        margin-left: 50px;
        margin-top: 50px;
        margin: 100px 50px 150px 500px; */
        margin: 100px 10px 100px ;
     }
     div>h1{
        padding-left: 50px;
     }
